apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: firearms-search-prod
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: git@github.com:mimyrtek/firearms-search.git
    targetRevision: main
    path: kustomize/overlays/prod
  
  destination:
    server: https://kubernetes.default.svc
    namespace: firearms-search
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
