apiVersion: apps/v1
kind: Deployment
metadata:
  name: firearms-search
  namespace: firearms-search
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: firearms-search
        resources:
          requests:
            memory: "128Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
